#gitalk-container
  
script.
  var gitalk = new Gitalk({
    clientID: 'd4b8183708650c07a010',
    clientSecret: 'db75179d30088e1d59b9f663fa004e1bc1f5890a',
    id: window.location.pathname,
    repo: 'https://github.com/alxtz/alxtz.github.io',
    owner: 'alxtz.github.io',
    admin: ['alxtz'],
    distractionFreeMode: false
  })
  gitalk.render('gitalk-container')
